<div class="film-item bg-gray-50 shadow-sm rounded-lg overflow-hidden w-full sm:w-1/2 lg:w-1/4 m-4 flex flex-col justify-between">
    <a href="{{ path('app_film_show', {'id': film.id}) }}" class="block w-full h-70 relative">
        <div class="absolute top-0 left-0 w-full h-full "></div>
        {# <img src="{{ vich_uploader_asset(film, 'imageFile') }}" alt="{{ film.titre }}" class="w-full h-full object-cover"> #}
        <div class="card lg:card-side bg-base-100 shadow-sm">
            <figure>
                <img
                        src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
                        alt="Album"/>
            </figure>
        </div>
    </a>
</div>
