{% extends 'base.html.twig' %}

{% block title %}Salles{% endblock %}

{% block body %}

<h1>Salles</h1>

{% for cinema in cinema %}
    <h2>{{ cinema.name }}</h2>
    <ul>
        {% for room in cinema.rooms %}
            <li>{{ room.name }} - {{ room.seats }} sièges</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun cinéma trouvé.</p>
{% endfor %}

{% endblock %}
